# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JULIA
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List some of the popular languages used in Data Science
- List some of the popular libraries used in Data Science
- Create a table of some Data Science tools available
- Give examples of some arithmetic expressions in Python

## Author
Ross